{% extends '../base.html' %} 

    {% block scripts %}
    <!-- Function to toggle like -->
    <script>
      function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
      }
    </script>
    {% endblock %} 

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 left top">
      <div class="card-body">
        {% for tag in post.tags.all %}
        <a href="#" class="badge text-decoration-none bg-secondary">
          {{tag}}
        </a>
        {% endfor %}
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class="text-muted">{{ post.author }} | {{ post.created_at }}</p>
        <p class="card-text">{{ post.content | safe }}</p>
        {% if user.is_staff %} {% comment %} {% if profile.email ==
        post.author.email %} {% endcomment %}
        <li class="btn btn-danger">
          <a
            href="{% url 'posts:post-delete' slug=post.slug %}"
            class="btn btn--sub"
            >Delete</a
          >
        </li>
        <li class="btn btn-info">
          <a
            href="{% url 'posts:post-update' slug=post.slug %}"
            class="btn btn--sub"
            >Update</a
          >
        </li>
        {% comment %} {% endif %} {% endcomment %} {% endif %}
        <!-- Use an element to toggle between a like/dislike icon -->
        <a
          name="like"
          id="like"
          class="btn btn-primary"
          href="{% url 'likes:like-create-delete' post_slug=post.slug %}"
          role="button"
        >
          <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
        </a>
      </div>
    </div>
    {% block sidebar %} 
        {% include 'partials/sidebar.html' %}
    {% endblock sidebar %}
  </div>
</div>
{% include 'partials/comments_list.html' with form=comment_form post=post page_obj=page_obj comments=comments %} 

{% include 'partials/paginate-page-navigation.html' with page_obj=page_obj custom_range=custom_range %} 

{% endblock content %}
